@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <a asp-controller="Home" asp-action="Learners" class="btn btn-primary">Learners</a>
    <a asp-controller="Home" asp-action="CreateEditLearner" class="btn btn-secondary">Create new</a>

</div>
